/*
*/
html, body {
    overflow-x: hidden;
}

label.error {
    color: #b51919;
    margin: 5px 0px 12px 0px;
    text-align: center;
}
.form-send label.error {
    margin: 0px;
}
form {
    display: flex;
    width: 100%;
}

.block {
    width: 100%;
    position: relative;
    font-family: 'SFU';
    z-index: 1;
    margin-top: 70px;
    margin-bottom: 20px;
}

.block:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.block__high {
    z-index: 2;
}
.block__withoutmargin {
    margin-top:0px;
}

.block__mid {
    min-height: 965px;
    height: 965px;
    margin-top: 0px;
}

.block__text {
    font-size: 22px;
    color: #000000;
    width: 520px;
    font-weight: 500;
    /*margin-bottom: 54px;*/
}
.block__text--with-pad {
    margin-bottom: 40px
}
.block__text-centered {
    width: 100%;
    padding-bottom: 24px;
    text-align: center;
}

.block__subtitle {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.block__subtitle__image {
    width: 100px;
    height: 100px;
    margin:0 8px 12px 0px;
    /*background-color: #123123;*/
}
.how-it-works-bg-1 {
    position: absolute;
    right: 280px;
    top: 20px;
    z-index: -1;
}
.how-it-works-bg-2 {
    position: absolute;
    left: -210px;
    top: 300px;
    z-index: -1;
}

.block__angle-right {
    width: 100%;
    height: 132px;
}
.block__angle-right svg {
    width: 100%;
}
.block__angle-left {
    width: 100%;
}

.block__content {
    position: relative;
    padding: 0px 54px;
}

.grid {
    display: flex;
    width: 100%;
}
.grid__row {
    width: 100%;
}
.grid-card {
    /*width: 350px;*/
    height: 464px;
    margin: 10px 5px;
    border-radius: 25px;
    box-shadow: 0px 25px 25px rgba(0,0,0,0.2);
    background-color: #ffffff;
    position: relative;
}

.grid-card__image {
    width: 100%;
    height: 324px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.grid-card__image img {
    margin: 0 auto;
    margin-top: 60px;
}

.grid-card__text {
    width: 100%;
    height: 140px;
    padding: 0px 24px;
    box-sizing: border-box;
    text-align: center;
    color: #767c94;
    font-weight: 500;
    line-height: 1.4;
}
.grid-card__text span {
    color: #1f3695;
    font-weight: bold;
}

.grid-card__info {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 14px;
    background-color: #1f3695;
    color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    width: 70%;
    text-align: right;
    padding: 20px;
}

.button {
    position: relative;
    border-radius: 15px;
    border: 0px;
    text-align: center;
    padding: 36px 80px;
    font-size: 34px;
    cursor: pointer;
    outline: none;

    box-shadow: 0px 22px 42px rgba(0,0,0,0.2);

    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}
.button__blue {
    /*background-color: #1f3695;
    */
    color: #ffffff;
}

.button__blue {
    background: #223ba2;
    /*border: 1px solid #1b3084;*/
    /*box-shadow: 0px 2px 0 #1b2e80, 2px 4px 6px #1d338d;*/
    transition: all 150ms linear;
}

.button__white {
    background-color: #ffffff;
}
.button__blue:hover {
    background: #1e348f;/*
    border: 1px solid rgba(0, 0, 0, 0.05);*/
    /*box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);*/
    color: #3a58d6;
    text-decoration: none;
    text-shadow: -1px -1px 0 #17276d;
    transition: all 250ms linear;
}

.button__white:hover {
    background: #dedede;/*
    border: 1px solid rgba(0, 0, 0, 0.05);*/
    /*box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);*/
    color: #ffffff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #ababab;
    transition: all 250ms linear;
}


.button__mid {
    font-size: 25px;
    padding: 40px 0px;
}

.block__content .button {
    margin-top: 100px;
}

.block__content__pull-left {
    width: 43%;
    float: left;
}
.block__content__pull-right {
    width: 44%;
    float: right;
}
.block__300 {
    min-height: 300px;
    height: 300px;
}

.block__content__pull-right .block__subtitle {
    margin-left: 24px;
}


.content-list {
    font-size: 21px;
    color: #767c94;
    font-weight: 500;
    list-style: none;
    line-height: 2;
}
.block__content__pull-left:after, .block__content__pull-right:after, .block__inner:after, .image:after, .image__float-left:after, .image__float-right:after, .content-list__round:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.button__withoutmargint {
    margin-top: 0px!important;
}

.block__title {
    font-size: 45px;
    color: #1f3695;
    font-family: 'MontseratBlack';
    padding: 30px 44px 54px 54px;
}
.block__title-white {
    color: #ffffff;
}
.block__title-centered {
    text-align: center;
}
.block__title-sp {
    padding-bottom: 14px;
}

.image {
    width: 530px;
    height: 460px;
    /*background: #454545;*/
    z-index: -1;
}
.image__tm {
    margin-top: -100px;
}
.image__shadow {
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}
.image__pull-right {
    position: absolute;
    right: 0px;
    top: 0px;
}
.image__pull-left {
    position: absolute;
    left: 0px;
    top: 0px;
}
.image__pull-bottom {
    bottom:0px;
    top:auto;
}

.image__top-pos img {
    top: 0px;
}

#mining-pools {
    position: relative;
}
.mining-pool-bg {
    position: absolute;
    top: 380px;
    right: 90px;
}
.contacts-preview {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.image__float-left {
    float: left;
}
.image__float-right {
    position: relative;
    float: right;
}
.image__float-right img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image__float-right img:nth-child(2) {
    left:-30px;
}

.capabilities__image {
    top: 170px;
    left: -280px;
    z-index: -1;
    width: 750px;
    height: 585px;
    background-color: #111222;
    background: url('../img/png/block-3-bg.png');
}

.block__title-tp {
    margin-top: 320px;
}

.block__title-tp-2 {
    padding-top: 350px;
    padding-bottom: 36px;
}

.block__blue {
    background: #3b73d4; /* Old browsers */
    background: -moz-radial-gradient(50% 65%, ellipse cover, #3b73d4 0%, #071589 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(50% 65%, ellipse cover, #3b73d4 0%,#071589 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 65%, #3b73d4 0%,#071589 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b73d4', endColorstr='#071589',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.block__grey {
    background: #a5a5a5; /* Old browsers */
    margin-bottom: 0px;
    background: -moz-radial-gradient(50% 65%, ellipse cover, #9c9c9c 0%, #a5a5a5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(50% 65%, ellipse cover, #9c9c9c 0%,#a5a5a5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 50% 65%, #9c9c9c 0%,#a5a5a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#a5a5a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.block__withoutgrad {
    background: #071589;
}
.left-center-grad {
    position: absolute;
    top:-40px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #071589;
    overflow: hidden;
}
.left-center-grad:after {
    content: '';
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
    background: -moz-radial-gradient(0%, ellipse cover, rgba(73,160,243,0.9) 0%, rgba(73,160,243,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(0%, ellipse cover, rgba(73,160,243,0.9) 0%,rgba(73,160,243,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at 0%, rgba(73,160,243,0.9) 0%,rgba(73,160,243,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.use-it-now-bg {
    position: absolute;
    width: 100%;
    top:0px;
    left: 0px;
    height: 100%;
    background-image: url('../img/png/accesibility-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-bg {
    position: absolute;
    width: 100%;
    top:0px;
    left: 0px;
    height: 100%;
    background-image: url('../img/png/contacts-bg.png');
    background-position: left center;
    background-repeat: no-repeat;
}

.dashboard-bg {
    position: absolute;
    top: 630px;
    left: 390px;
}

.block__blue .block__title {
    color: #ffffff;
}
.block__rotated {
    transform: rotate(-3deg) translateX(-25%);
    width: 150%;
}
.block__inner {
    width: 1172px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}
.block__withmargin {
    margin-top: 120px;
}

.block__inner-centered {
    text-align: center;
}

.top-menu {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 44px 54px 54px;
}

.top-menu__logo {
    display: flex;
    flex-grow: 1;
}
.top-menu__logo a {
    font-family: 'MontseratBlack';
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.top-menu__navigation {
    display: flex;
    flex-grow: 1;
}
.top-menu__navigation a {
    list-style: none;
    margin: 16px;
    cursor: pointer;
    font-family: 'SFU';
    font-weight: normal;
    position: relative;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
.top-menu__navigation a.active:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    left: 0px;
    background: #376dcf;
}
.top-menu__social {
    display: flex;
    flex-grow: 1;
}
.top-menu__social__mobile {
    display: none;
}
.top-menu__social__item {
    margin: 2px;
}
.top-menu__lang , .top-menu__lang__mobile, .top-menu__lang__tablet{
    flex-grow: 1;
    display: flex;
    font-family: 'SFU';
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
}
.top-menu__lang__mobile {
    display: none;
}
.top-menu__lang a , .top-menu__lang__mobile a, .top-menu__lang__tablet a{
    text-decoration: none;
    color: #ffffff;
}
.top-menu__lang a.active, .top-menu__lang__mobile a.active, .top-menu__lang__tablet a.active {
    color: #ffcd39;
}

.top-banner {
    margin: 96px auto 0;
    text-align: center;
}
.top-bg-1 {
    background: url('../img/png/top-bg-1.png') center 8% no-repeat
}
.top-banner__header {
    font-size: 70px;
    font-family: 'MontseratBlack';
    color: #ffffff;
}
.top-banner__text {
    font-size: 30px;
    margin: 24px auto;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1px;
    width: 720px;
}
.top-banner__button {
    width: 464px;
    border-radius: 15px;
    background: #1f3695; 
    height: 110px;
    border:none;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    margin-top: 24px;
    cursor: pointer;
    padding: 0px;
    outline: none;
}
.top-banner__video-text {
    color: #2a4dad;
    width: 720px;
    position: relative;
    font-size: 32px;
    margin: 112px auto 0;
}
.top-banner__video {
    width: 888px;
    height: 500px;
    margin: 16px auto;
    background: url('../img/png/top-video-bg.png');
}
.js-video {
    outline: none;
}

.bottom-banner__video {
    width: 888px;
    height: 500px;
    margin: 0px auto;
    background: url('../img/png/bottom-video-bg.png');
}

.top-banner__video-text .video-pdf {
    right: 0;
    top: -20px;
    position: absolute;
}
.video-pdf {
    display: flex;
    align-items: center;
    width: 100px;
    font-family: 'MontseratBlack';
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: 1.1;
    text-decoration: none;
}
.video-pdf__icon {
    margin: 0 0 12px 12px;
}


.triple-card {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-left: 20px;
    padding-bottom: 240px;
    margin-top:16px;
}
.triple-card__simple {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.card {
    position: relative;
    box-shadow: 0px 6px 80px rgba(0, 0, 0, 0.4);
}

.card-high {
    /*z-index: 99!important*/;
    transition: box-shadow .3s ease;
    box-shadow: 0px 10px 60px rgba(0,0,0,.6);
}
.card:before, .card-simple:before {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 100%;
    left: 0px;
    height: 100%;
    box-shadow: inset 0px 0px 60px rgba(0,0,0,0.1);
}
.card:first-child {
    width: 30%;
    height: 470px;
    border-radius: 15px;
    z-index: 1;
    margin-right: -20px;

    background: rgb(66,143,230); /* Old browsers */
    background: -moz-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #428fe6 0%,#2e5fc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428fe6', endColorstr='#2e5fc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.card:nth-child(2) {
    width: 40%;
    height: 550px;
    border-radius: 15px;
    z-index: 0;

    background: rgb(66,143,230); /* Old browsers */
    background: -moz-linear-gradient(-45deg, #336ac9 0%, #203aa3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #336ac9 0%, #203aa3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #336ac9 0%,#203aa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#336ac9', endColorstr='#203aa3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.card:last-child {
    width: 30%;
    height: 470px;
    border-radius: 15px;
    margin-left:-20px;
    z-index: 1;

    background: rgb(66,143,230); /* Old browsers */
    background: -moz-linear-gradient(-45deg, #264aa9 0%, #173186 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #264aa9 0%, #173186 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #264aa9 0%,#173186 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264aa9', endColorstr='#173186',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.card__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-top: 40px;
    z-index: -1;
    opacity: .8;
}

.card__image {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.card__text {
    padding: 30px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.card:nth-child(2) .card__image {
    padding-top: 140px;
}

.card:nth-child(2) .card__text {
    padding: 30px 60px;
}

.card-simple {
    flex: 1;
    overflow: hidden;
    height: 640px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.2);
}

.card-simple:first-child {
    margin-left: 0px;
    height: 615px;
    margin-top: 25px;
    background-color: #ffffff;
}
.card-simple:nth-child(2) {
    background-color: #1f3695;
}

.card-simple:last-child {
    height: 615px;
    margin-top: 25px;
    background-color: #ffffff;
}

.card-simple__time {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 60px 0px 12px 0px;
}
.card-simple:nth-child(2) .card-simple__time {
    padding: 85px 0px 12px 0px;
}
.card-simple__blue .card-simple__time, .card-simple__blue .card-simple__line {
    color: #ffffff;
}
.card-simple__price {
    color: #1f3695;
    font-family: 'MontseratBlack';
    font-size: 75px;
    text-align: center;
}
.card-simple__blue .card-simple__price{
    color: #ffffff;
}
.card-simple__details {
    padding: 54px 54px 0px 54px;
}
.card-simple__line {
    color: #767c94;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #767c94;
    padding: 20px 0px; 
}
.card-simple__line:first-child {
    padding-top: 0px; 
}
.card-simple__line:last-child {
    border-bottom: none;
}

.card-simple .button {
    margin-top: 16px;
    font-size: 21px;
    padding: 20px 60px;
}
.card-simple__action {
    width: 250px;
    background: #ffffff;
    padding:6px;
    color: #000000;
    font-weight: 500;
    position: absolute;
    transform: rotate(45deg);
    right: -80px;
    top: 32px;
}

.content-list__round .image{
    top:-345px;
    height: 842px;
}

.round__item {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.round__item-arrow:not(:last-child) {
    margin-bottom: 100px;
}
.round__item-arrow:first-child {
    margin-top: 48px;
}
.round__text {
    font-size: 21px;
    color: #767c94;
    font-weight: 500;
    list-style: none;
    line-height: 1.3;
    flex:1;
}
.round__number {
    /*margin-bottom: 48px;*/
    border-radius: 50px;
    border: 3px dotted #1f3695;
    padding: 36px;
    width: 25px;
    height: 23px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: 'MontseratBlack';
    font-size: 45px;
    color: #1f3695;
}

.round__arrow {
    border-radius: 50px;
    border: 3px solid #1f3695;
    padding: 12px;
    width: 25px;
    height: 23px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    color: #1f3695;
    position: relative;
}

.round__arrow:after {
    top: 14px;
    left: 10px;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border-top: 3px solid #1f3695;
    border-right: 3px solid #1f3695;
    transform: rotate(45deg);
}

.form-send {
    display: flex;
    margin-bottom: 56px;
}
.form-send input, .form-send button {
    flex: 1;
}
.form-send input {
    margin-right: 25px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 15px;
    font-size: 25px;
    padding-left: 28px;
    outline: none;
    text-align: left;
    font-weight: 400;
    color: #1f3695;
}

.form-send input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1f3695;
    font-weight: 400;
}
.form-send input::-moz-placeholder { /* Firefox 19+ */
    color: #1f3695;
    font-weight: 400;
}
.form-send input:-ms-input-placeholder { /* IE 10+ */
    color: #1f3695;
    font-weight: 400;
}
.form-send input:-moz-placeholder { /* Firefox 18- */
    color: #1f3695;
    font-weight: 400;
}


.bottom-social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom-social .button {
    position: relative;
    padding: 19px 36px 19px 36px;
    width: 360px;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.bottom-social svg {
    margin-right:24px;
}

.copyright, .copyright-tablet{
    text-align: center;
    font-size: 21px;
    padding-top: 190px;
    padding-bottom: 50px;
    color: #ffffff;
    font-weight: 300;
}
.copyright a , .copyright-tablet a{
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-weight: 300;
}



.centered {
    text-align: center;
}
.small {
    font-size: 21px;
}
.middle {
    font-size: 25px;
}
.white {
    color: #ffffff;
    font-weight: 300;
}
.mid-size {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}
.pb-64 {
    padding-bottom: 64px;
}


/*
* ANIMATIONS
*/
.anim-top-invis-0 {
    opacity: 0;
    transform: translateY(100px);
}
.anim-top-invis-1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

.anim-top-invis-slow-0 {
    opacity: 0;
    transform: translateY(50px);
}
.anim-top-invis-slow-1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

.anim-bot-invis-0 {
    opacity: 0;
    transform: translateY(-100px);
}
.anim-bot-invis-1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

.anim-bot-invis-slow-0 {
    opacity: 0;
    transform: translateY(-50px);
}
.anim-bot-invis-slow-1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}

.anim-left-invis-0 {
    opacity: 0;
    transform: translateX(840px);
}
.anim-left-invis-1 {
    opacity: 1;
    transform: translateX(840px);
    transition: all 0.1s ease;
}
.anim-left-invis-end-1 {
    transform: translateX(0px);
    transition: all 1s ease-out;
}
.anim-left-invis-slow-0 {
    opacity: 0;
    transform: translateX(840px);
}
.anim-left-invis-slow-1 {
    opacity: 1;
    transform: translateX(840px);
    transition: all 0.1s ease;
}
.anim-left-invis-slow-end-1 {
    transform: translateX(0px);
    transition: all 2s ease-out;
}

.anim-right-invis-0 {
    opacity: 0;
    transform: translateX(-840px);
}
.anim-right-invis-1 {
    opacity: 1;
    transform: translateX(-840px);
    transition: all 0.1s ease;
}
.anim-right-invis-end-1 {
    transform: translateX(0px);
    transition: all 1s ease-out;
}


.white-popup-block {
    background: #ffffff;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.6);
}

.popup {
    font-family: 'SFU';
}

.popup__header {
    font-family: 'MontseratBlack';
    color: #223ba2;
    font-size: 24px;
    text-align: center;
    padding: 20px 80px;
}
.popup__content {
    display: flex;
    flex-direction: column;
    padding: 20px 160px;
}
.popup__text {
    font-size: 16px;
    color: #223ba2;
    margin-top:32px;
}
.popup__button {
    font-size: 18px;
    border-radius:5px;
    padding: 26px;
    margin-top:16px;
}

.popup__input {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom:8px;
    outline: none;
    padding: 20px;
    font-weight: 400;
    color: #1f3695;
    text-align: left;
}

.popup__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #1f3695;
    font-weight: 400;
}
.popup__input::-moz-placeholder { /* Firefox 19+ */
    color: #1f3695;
    font-weight: 400;
}
.popup__input:-ms-input-placeholder { /* IE 10+ */
    color: #1f3695;
    font-weight: 400;
}
.popup__input:-moz-placeholder { /* Firefox 18- */
    color: #1f3695;
    font-weight: 400;
}


.youtube-link {
    outline: none;
}

.top-menu__mobile-navigation {
    display: none;
}

.slicknav_menu {
    display: none;
}

.tablet-show {
    display: none;
}

.top-menu__social__tablet, .top-menu__lang__tablet {
    display: none;
}

/*
* Mobile
*/

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .block__inner {
        width: 100%;
    }
    .top-banner__header {
        font-size: 30px;
    }
    .top-banner {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .top-bg-1 {
        background: url(../img/png/top-bg-1.png) center 25% no-repeat;
        background-size: 100%;
    }
    .top-banner__text {
        width: 100%;
        margin: 0px;
        padding: 30px;
        box-sizing: border-box;
        font-size: 20px;
    }
    .top-banner__button {
        width: 90%!important;
        font-size: 22px;
        height: 80px;
    }
    .top-banner__video-text {
        width: 100%;
        color: #fff;
        font-size: 20px;
        margin: 50px auto 0;
    }
    .top-banner__video, .bottom-banner__video{
        width: 100%;
        height: 250px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .top-banner__video-text .video-pdf {
        display: none;
    }
    .block__mid {
        min-height: 0;
        height: auto;
    }

    .block__title-tp, .block__title-centered, .block__title{
        margin-top: 0px;
        text-align: left;
        font-size: 30px;
        padding: 20px;
    }
    .block__content {
        padding: 0px 20px;
    }
    .block__text {
        width: 100%;
    }
    .content-list {
        font-size: 16px;
        line-height: 1.5;
        
    }
    .content-list li:last-child {
        padding-bottom: 50px;
    }
    .button {
        width: 100%;
        font-size: 22px;
        height: 80px;
        padding: 0px;
    }
    .block__content .button {
        margin-top: 0px;
    }
    .image {
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }
    .block {
        margin-top:50px;
    }
    .block__withoutmargin {
        margin-top: 0px;
    }
    .block__title {
        font-size: 30px;
    }
    .grid-card {
        width: 100%;
        height: 490px;
    }
    .grid {
        flex-direction: column;
    }
    .grid-card {
        margin: 10px 0px;
    }
    .grid-card__info {
        width: 80%;
    }
    .grid-card__text {
        font-size: 20px;
    }
    .grid-card__image {
        height: 280px;
    }
    .block__content__pull-left {
        width: auto;
    }
    .block__content__pull-right {
        width: auto;
    }
    .block__subtitle {
        font-size: 22px;
    }
    .block__subtitle__image {
        width: 50px;
        height: 50px;
    }
    .block__subtitle__image img{
        width: 50px;
        height: 50px;
    }
    .block__rotated {
            width: 180%;
    }

    .how-it-work .how-it-works-bg-1, .how-it-work .image__float-right, .how-it-work .image__float-left {
        display: none;
    }
    .block__content__pull-right .block__subtitle {
        margin-left: 0px;
    }
    .mobile-no-mt {
        margin-top:0px;
    }
    .left-center-grad {
        top: -20px;
    }
    .triple-card {
        flex-direction: column;
        margin: 0px;
    }
    .card:first-child, .card:last-child, .card:nth-child(2) {
        width: 100%;
        margin: 20px 0px 0px 0px;
        background: rgb(66,143,230); /* Old browsers */
        background: -moz-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #428fe6 0%,#2e5fc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428fe6', endColorstr='#2e5fc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .card:last-child {
        margin-bottom: 60px;
    }
    .card:nth-child(2) .card__image {
        padding-top: 100px;
    }
    .mining-pool-bg, #mining-pools, .dashboard-bg, .mobile-hide {
        display: none;
    }
    .content-list__round {
         padding: 20px 0px 0px 0px;
    }
    .content-list__round .block__content {
        padding: 0px;
    }
    .round__number {
        padding: 27px;
        width: 14px;
        height: 16px;
        margin-right: 32px;
        font-size: 32px;
    }
    #use-it-now {
        margin-top: 125px;
    }
    .mid-size {
        width: 100%;
    }
    .form-send {
        flex-direction: column;
        box-sizing: border-box;
    }
    .form-send input {
        margin: 20px;
        padding: 20px;
    }
    .form-send button{
        margin: 20px;
        width: auto;
    }
    .mobile-pad {
        margin: 0px 20px;
        width: auto;
    }
    .round__item-arrow, .round__item-arrow:not(:last-child){
        margin-bottom: 40px;
    }
    .round__item-arrow:last-child {
        margin-bottom: 0px;
    }
    .triple-card__simple {
        flex-direction: column;
    }
    .card-simple .button {
        padding: 0px 40px;
        margin: 10px 10px 30px 10px;
        width: auto;
    }
    .card-simple:first-child, .card-simple:last-child, .card-simple {
        height: auto;
        margin-bottom: 20px;
    }
    .bottom-social {
        flex-direction: column;
    }
    .bottom-social .button {
        margin: 0px 20px 20px 20px;
        width: auto;
        padding: 10px;
        height: 50px;
    }
    .copyright {
        padding-top: 10px;
        padding-bottom: 200px;
        font-size: 16px;
    }
    .contacts-preview {
        height: 12%;
    }
    .contacts-bg {
        background-position: center bottom;
    }
    .popup__header {
        padding: 0px 0px 10px 0px;
    }
    .popup__content {
        padding: 0px;
    }
    .top-menu__navigation {
        display: none;
    }
    /*.top-menu__mobile-navigation {
        display: block;
    }*/
    .slicknav_menu {
        display: block;
    }
    .slicknav_nav {
        font-family: 'SFU';
        font-size: 20px;
        margin-bottom: 30px;
    }
    .slicknav_nav li {
        padding: 5px 0px;
    }
    .top-menu {
        padding: 30px 30px 54px 30px;
    }
    .top-menu__social {
        display: none;
    }
    .top-menu__social__mobile {
        display: block;
        text-align: center;
        padding: 30px;
    }
    .top-menu__social__mobile a {
        outline: none;
        text-decoration: none;
    }
    .top-menu__social__mobile a:nth-child(2), .top-menu__social__mobile a:last-child{
        margin-left: 20px;
    }
    .top-menu__logo a {
        font-size: 3.8em;
        text-align: center;
    }
    .top-menu__lang {
        display: none;
    }
    .top-menu__lang__mobile {
        display: block;
        text-align: center;
        font-size: 20px;
        margin-bottom:20px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .block__mid, .block__inner {
        width: 100%;
    }
    .top-menu {
        flex-direction: column;
        align-items: start;
    }
    .top-menu__logo a {
        font-size: 30px;
    }
    .top-menu__navigation a:first-child {
        margin-left:0px;
    }
    .top-menu__social, .video-pdf, .top-menu__lang {
        display: none;
    }
    .top-banner__video-text {
        color: #ffffff;
    }
    .top-banner__video, .bottom-banner__video {
        width: 102%;
        background-size: 102% 102%;
        margin-left:-1%;
    }
    .image {
        width: 100%;
        height: 100%;
        opacity: 0.3;
        right: 0px;
        left: auto;
        text-align: right;
    }
    .block__title {
        padding-left: 30px;
    }
    .block__content {
        padding: 0px 30px;
    }
    .grid-card__image img {
        height: 30%;
    }
    .grid-card {
        height:508px;
    }
    .block {
        margin-top: 60px;
    }
    .block__content__pull-left {
        width: auto;
    }
    .block__content__pull-right {
        width: auto;
    }
    .block__subtitle {
        font-size: 28px;
    }
    .block__subtitle__image {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        margin-bottom: 0px;
    }
    .block__subtitle__image img{
        width: 50px;
        height: 50px;
    }
    .block__rotated {
        width: 180%;
    }
    .block__content__pull-right .block__subtitle {
        margin-left: 0px;
    }
    .block__withoutmargin {
        margin-top: 0px;
    }
    .triple-card {
        margin-left: 0px;
        padding-bottom: 100px;
    }
    .card:first-child, .card:nth-child(2), .card:last-child {
        margin-right: 0px;
        margin-left: 0px;
        height: auto;
        background: rgb(66,143,230); /* Old browsers */
        background: -moz-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #428fe6 0%, #2e5fc0 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #428fe6 0%,#2e5fc0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428fe6', endColorstr='#2e5fc0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .card__image img{
        width: 110px;
    }
    .card__text {
        font-size: 16px;
    }
    .block__title-tp-2 {
        padding-top: 420px;
    }

    .how-it-work .how-it-works-bg-1, .how-it-work .image__float-right, .how-it-work .image__float-left, #mining-pools{
        display: none;
    }

    .form-send input {
        margin: 20px 20px 20px 0px;
        width: 33%;
        padding: 12px;
        font-size: 20px;
    }
    .form-send input:first-child {
        margin-left:20px;
    }
    .form-send button{
        margin: 20px 20px 20px 0px;
        width: 33%;
        padding: 12px;
        font-size: 20px;
    }

    .mobile-hide {
        display: none;
    }
    .round__item-arrow:not(:last-child) {
        margin-bottom: 50px;
    }
    .card-simple, .card-simple:first-child, .card-simple:last-child {
        height: auto;
    }
    .card-simple .button {
        padding: 10px 26px;
        margin: 20px;
        width: auto;
    }
    .bottom-social {
        padding-bottom: 300px;
    }
    .bottom-social .button {
        margin: 0px 20px 20px 20px;
        width: auto;
        padding: 10px;
        height: 50px;
        min-width: 284px;
    }
    .copyright {
        display: none;
    }
    .copyright-tablet {
        padding-top: 50px;
    }
    .tablet-show {
        display: block;
        margin-bottom: 0px;
    }
    .top-menu__social__tablet, .top-menu__lang__tablet {
        display: block;
        text-align: center;
    }
    .top-menu__social__tablet {
        padding: 40px 0px
    }
    .top-menu__lang__tablet {
        font-size: 24px;
    }

    .top-menu__lang__tablet a {
        font-size: 24px;
    }

}
@media only screen and (min-device-width : 1025px) and (max-device-width : 1172px) {
    .block__inner {
        width: 100%;
    }
    .block__content__pull-left {
        width: 41%;
    }
    .block__content__pull-right {
        width: 41%;
    }
}